@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://www.telefonica.com/documents/364672/472633/empleados-telefonica-2019.jpg/8ded7656-d879-7cd0-595b-849aa2af5c61?t=1548155145026" alt="login image" class="login-img">
            </div>

            <div class="col-sm-6 section-wrapper">
                <div class="brand-wrapper">
                    <img src="~/img/logo-telefonica.png" alt="logo" class="logo">
                </div>
                <div class="wrapper">
                    <h1 class="login-title">Bienvenidos a T-Personas</h1>
                    <hr>
                    <div class="login-content">
                        <p>
                            SSO es un inicio de sesión unico que permite un logueo más rápido para los usuarios de T-Personas
                        </p>
                    </div>
                    <form asp-action="Login" asp-controller="Home" method="post">
                        <button name="login" id="login" class="btn btn-block login-btn" type="submit">Ingresar con SSO</button>
                    </form>
                        
                    
                    <hr>
                    <h6 class="login-copyright">
                        Telefónica - 2020
                    </h6>
                </div>
            </div>
        </div>
    </div>