@{
    ViewData["Title"] = "Inicio";
    Layout = "_LayoutInicio";
}
<div id="contenido">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <h1 class="font-weight-bold mb-0">Bienvenido Usuario</h1>
                </div>

            </div>
        </div>
    </section>
</div>
