@font-face {
    font-family: 'Telefonica';
    src: url('../Estilos/FuenteTelefonica/Telefonica.eot');
    src: url('../Estilos/FuenteTelefonica/Telefonica.eot?#iefix') format('embedded-opentype'), url('../Estilos/FuenteTelefonica/Telefonica.woff2') format('woff2'), url('../Estilos/FuenteTelefonica/Telefonica.woff') format('woff'), url('../Estilos/FuenteTelefonica/Telefonica.ttf') format('truetype'), url('../Estilos/FuenteTelefonica/Telefonica.svg#Telefonica') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root{
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;
}
body {
    overflow: hidden;
    font-family: "Telefonica";
    font-weight: 300;
    color: var(--primary);
}
.bg-azul {
    background-color: #003245;
}
a:hover{
    text-decoration: none;
}
#sidebar-container {
    min-height: 100vh;
    transition: 0.5s;
}
    #sidebar-container.active {
        margin-left: -300px;
    }
#sidebar-container .logo{
    padding: .875rem 1.25rem;
}
#sidebar-container .menu{
    width: 18rem;
    height: 70%;
}
    #sidebar-container .menu li a {
        color: #FFF;
        font-size: 13px;
        padding-left: 10%;
        transition: ease-out 0.2s;
    }
    #sidebar-container .menu li a:hover {
        color: #808080;
    }
.avatar{
    max-width: 35px;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #b30000;
    }
